In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import neighbors
from statistics import mode
from sklearn import model_selection
from sklearn.metrics import confusion_matrix

In [2]:
test_X = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
train_Y = train['label']
train_X = train.drop('label', axis = 1)

In [3]:
def knnclassifier(train_X,train_Y,test_X,n):
    test_Y=[]
    for i in range(len(test_X)):
        nearest=np.argsort(((np.array(test_X.iloc[i])-np.array(train_X))**2).sum(-1))
        prediction=Counter(train_Y.iloc[nearest[:n]]).most_common(1)[0][0]
        test_Y.append(prediction)
    return test_Y

In [4]:
from collections import Counter
knnclassifier(train_X[:10],train_Y[:10],test_X[:10],5)

[0, 0, 1, 1, 1, 7, 0, 1, 0, 1]

In [5]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(train_X, train_Y, random_state=2,test_size=0.5)

In [6]:
pred_y=knnclassifier(X_train,y_train,X_test,10)

In [12]:
cf=confusion_matrix(np.array(y_test).reshape(1,21000)[0],np.array(pred_y))
knn_cf=pd.DataFrame(cf,('true %i'%x for x in range(10)),('pred %i'%x for x in range(10)))
knn_cf

,pred 0,pred 1,pred 2,pred 3,pred 4,pred 5,pred 6,pred 7,pred 8,pred 9
true 0,2045,3,1,0,0,2,7,1,1,1
true 1,0,2344,5,1,2,0,4,3,1,1
true 2,24,36,1934,5,1,3,6,51,5,5
true 3,4,15,13,2071,0,19,4,19,15,15
true 4,2,27,0,0,1986,0,10,3,0,72
true 5,5,10,1,41,1,1775,26,0,4,18
true 6,13,6,0,0,2,9,2010,0,3,0
true 7,1,35,8,0,5,0,0,2155,0,28
true 8,5,38,7,38,9,37,6,8,1821,37
true 9,11,8,4,17,15,2,1,34,2,1977

In [13]:
accu = sum(knn_cf.apply(lambda x: max (x),axis = 1))/sum(knn_cf.apply(lambda x: sum(x), axis =1))
accu

0.958

In [ ]:
pred_y = knnclassifier(train_X, train_Y, test_X, 13)