In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import neighbors
from statistics import mode
from sklearn import model_selection
from sklearn.metrics import confusion_matrix

In [2]:
dtrain = pd.read_csv('digit-train.csv', header=0, dtype=np.int)
X_dtest = pd.read_csv('digit-test.csv', header=0, dtype=np.int)
dtrain.head()
X_dtrain = dtrain.drop('label', axis = 1)
Y_dtrain = dtrain['label']

In [3]:
#from collections import Counter
#implement a K-NN classifier

def generate_k_nn_classifier(X_dtrain,Y_dtrain,X_dtest ,n):
    Y_test=[]
    for i in range(len(X_dtest)):
        neighbors = np.argsort(((np.array(X_dtest.iloc[i])-np.array(X_dtrain))**2).sum(-1))
        prediction = Counter(Y_dtrain.iloc[neighbors[:n]]).most_common(1)[0][0]
        Y_test.append(prediction)
    return Y_test

(h) Using the training data for all digits, perform 3 fold cross-validation on your K-NN classifier and report your average accuracy.

In [5]:
#from sklearn import model_selection
#use our K-NN classifier to perform 3 fold cross-validation

X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dtrain, Y_dtrain, random_state=2, test_size=0.5)
Y_prediction = generate_k_nn_classifier(X_train,y_train,X_test,10)

After generating a confusion matrix below, we acheived the average accuracy which is 0.958.

(i) Generate a confusion matrix (of size 10 Â£ 10) from your results. Which digits are particularly tricky to classify?

In [12]:
#import pandas as pd
#from sklearn.metrics import confusion_matrix

c_matrix = confusion_matrix(np.array(y_test).reshape(1,21000)[0],np.array(Y_prediction))
k_nn_c_matrix = pd.DataFrame(c_matrix,(x for x in range(10)),(x for x in range(10)))
k_nn_c_matrix

,pred 0,pred 1,pred 2,pred 3,pred 4,pred 5,pred 6,pred 7,pred 8,pred 9
true 0,2045,3,1,0,0,2,7,1,1,1
true 1,0,2344,5,1,2,0,4,3,1,1
true 2,24,36,1934,5,1,3,6,51,5,5
true 3,4,15,13,2071,0,19,4,19,15,15
true 4,2,27,0,0,1986,0,10,3,0,72
true 5,5,10,1,41,1,1775,26,0,4,18
true 6,13,6,0,0,2,9,2010,0,3,0
true 7,1,35,8,0,5,0,0,2155,0,28
true 8,5,38,7,38,9,37,6,8,1821,37
true 9,11,8,4,17,15,2,1,34,2,1977

According to the matrix above, we observe that 8 is the trickies to classify.

In [13]:
#calculate average accuracy

accu = sum(k_nn_c_matrix.apply(lambda x: max (x),axis = 1))/sum(k_nn_c_matrix.apply(lambda x: sum(x), axis =1))
print(accu)

0.958

(j) Train your classifier with all of the training data, and test your classifier with the test data.
Submit your results to Kaggle.

In [ ]:
#load new dataset for test

X_dtest = pd.read_csv('digit-test.csv', header=0, dtype=np.int)
x_dtest = X_dtest.drop('label', axis = 1)
Y_dtest = X_dtest['label']

In [ ]:
#test our K-NN classifier with the test data
#from sklearn import model_selection

X_train, X_test, y_train, y_test = model_selection.train_test_split(x_dtest, Y_dtest, random_state=2, test_size=0.5)
Y_prediction = generate_k_nn_classifier(X_train,y_train,X_test,10)